.button {
    background-color: #0b2d4e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 2px;
    border-radius: 5px;
  }

.button:hover{
    background-color: #7cafe1;
    color: #10002b;
}

.button:active{
    background-color: #2ec4b6;
}

h2{
    text-align: center;
    margin-top: 15px;
}

.form-control{
  color:black;
}

.form-control.hover{
    color:black;
}

h2{
    font-family: sans-serif;
    color: #03045e;
    font-weight: bold;
}

th, td{
  font-size: 20px;
}

label {
    font-family: opensans;
    font-weight: bold;
    color: #651838;
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    th,td{font-size: 12px;}
}